In [192]:
# Lets first install the selenium library
! pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [193]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

# Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.

In [194]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [195]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/')
driver.maximize_window()

In [196]:
driver.find_element_by_xpath('//a[@class="external text"]/i').click()

In [197]:
driver.find_element_by_xpath('//a[@title="List of most-viewed YouTube videos"]').click()

In [198]:
# creating empty list to store scraped data
mostview={}
mostview['Rank']=[]
mostview['Name']=[]
mostview['Artist']=[]
mostview['Upload']=[]
mostview['Views(in billions)']=[]

In [199]:
#extracting rank

try:
    for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]//tr/td[1]'):
        mostview['Rank'].append(i.text)
except NoSuchElementException:
    mostview['Rank'].append('--')
    
#extracting song name

try:
    for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]//tr/td[2]'):
        mostview['Name'].append(i.text)
except NoSuchElementException:
    mostview['Name'].append('--')
    
#extracting Artist Name

try:
    for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]//tr/td[3]'):
        mostview['Artist'].append(i.text)
except NoSuchElementException:
    mostview['Artist'].append('--')
    
#extracting upload date
    
try:
    for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]//tr/td[5]'):
        mostview['Upload'].append(i.text)
except NoSuchElementException:
    mostview['Upload'].append('--')
    
#extracting Number of Views

try:
    for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]//tr/td[4]'):
        mostview['Views(in billions)'].append(i.text)
except NoSuchElementExecption:
    mostview['Views(in billions)'].append('--')

In [200]:
most_view=pd.DataFrame.from_dict(mostview)
most_view

,Rank,Name,Artist,Upload,Views(in billions)
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.09
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.24
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.21
3,4.,"""See You Again""[26]",Wiz Khalifa,"April 6, 2015",4.99
4,5.,"""Johny Johny Yes Papa""[29]",LooLoo Kids,"October 8, 2016",4.90
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.42
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.11
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",4.00
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",3.74
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.74
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.60
11,12.,"""Sorry""[37]",Justin Bieber,"October 22, 2015",3.41
12,13.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.41
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.29
14,15.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.21
15,16.,"""Thinking Out Loud""[41]",Ed Sheeran,"October 7, 2014",3.20
16,17.,"""Dame Tu Cosita""[42]",El Chombo,"April 5, 2018",3.15
17,18.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.03
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.00
19,20.,"""Dark Horse""[45]",Katy Perry,"February 20, 2014",2.99
20,21.,"""Lean On""[46]",Major Lazer Official,"March 22, 2015",2.99
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",2.98
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",2.97
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.93
24,25.,"""Mi Gente""[50]",J Balvin,"June 29, 2017",2.88
25,26.,"""Hello""[51]",Adele,"October 22, 2015",2.80
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.76
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.76
28,29.,"""Blank Space""[54]",Taylor Swift,"November 10, 2014",2.73
29,30.,"""Chantaje""[55]",Shakira,"November 18, 2016",2.63

In [201]:
driver.close()

# Q2. Scrape the details of team India's Interantional fixtures from bcci.tv.

In [214]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [215]:
driver.get('https://www.bcci.tv/')
driver.maximize_window()

In [216]:
# Clicking on international button.
driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover'][1]").click()

In [217]:
# Clicking on fixture button.
fixture=driver.find_element_by_xpath("//div[@class='drop-down__options']//li[1]//a").click()

In [218]:
#Creating empty lists to store scrape data.

fixtures={}
fixtures['Match_title']=[]
fixtures['Series']=[]
fixtures['Place']=[]
fixtures['Date/Month']=[]
fixtures['Time']=[]

#extracting Match title

try:
    for i in driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/strong'):
        fixtures['Match_title'].append(i.text)
except NoSuchElementExceptions:
    fixtures['Match_title'].append('--')
    
#extracting Series

try:
    for i in driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]'):
        fixtures['Series'].append(i.text)
except NoSuchElementExceptions:
    fixtures['Series'].append('--')
    
#extracting Place

try:
    for i in driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span'):
        fixtures['Place'].append(i.text)
except NoSuchElementExceptions:
    fixtures['Place'].append('--')
    
#extracting Date and month as they both are having different tags
date=[]
month=[]
try:
    for i in driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/span'):
        date.append(i.text)
except NoSuchElementException:
    date.append('--')
    
try:
    for i in driver.find_elements_by_xpath('//div[@class="fixture__date-details"]/span[1]'):
        month.append(i.text)
except NoSuchElementException:
    month.append('--')
    
#Combining date and month
for i in range(len(month)):
    fixtures['Date/Month'].append(date[i]+month[i])
    
#extracting time

try:
    for i in driver.find_elements_by_xpath('//div[@class="fixture__date-details"]/span[2]'):
        fixtures['Time'].append(i.text)
except NoSuchElementExceptions:
    fixtures['Time'].append('--')

In [219]:
fixture=pd.DataFrame.from_dict(fixtures)
fixture

,Match_title,Series,Place,Date/Month,Time
0,1st T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",12MARCH,19:00 IST
1,2nd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",14MARCH,19:00 IST
2,3rd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",16MARCH,19:00 IST
3,4th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",18MARCH,19:00 IST
4,5th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",20MARCH,19:00 IST
5,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",23MARCH,13:30 IST
6,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",26MARCH,13:30 IST
7,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",28MARCH,13:30 IST
8,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04AUGUST,15:30 IST
9,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12AUGUST,15:30 IST
10,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25AUGUST,15:30 IST
11,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02SEPTEMBER,15:30 IST
12,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST

In [220]:
driver.close()

# Q3. Scrape the detials of selenium exceptions from guru99.com.

In [239]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [240]:
driver.get('https://www.guru99.com/')
driver.maximize_window()

In [241]:
driver.find_element_by_xpath("//div[@class='g-grid allrotatenativeads1']//div[3]//i").click()

In [242]:
#going to the page of selenium exceptions handling
driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']").click()

In [243]:
# creating empty list for scraped data.
exceptions={}
exceptions['Name']=[]
exceptions['description']=[]

for i in range(2,43):

    try:
        exceptions['Name'].append(driver.find_element_by_xpath("//table[@class='table table-striped']//tr[{}]//td[1]".format(i)).text)
    except NoSuchElementException:
        exceptions['Name'].append('--')
        
    try:
        exceptions['description'].append(driver.find_element_by_xpath("//table[@class='table table-striped']//tr[{}]//td[2]".format(i)).text)
    except NoSuchElementException:
        exceptions['description'].append('--')

In [244]:
exceptions=pd.DataFrame.from_dict(exceptions)
exceptions

,Name,description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [245]:
driver.close()

# Q4. Scrape the details of State-wise GDP of India from statisticstime.com.

In [246]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [247]:
driver.get('http://statisticstimes.com/')
driver.maximize_window()

In [248]:
#searching for the xpath for economy.
driver.find_element_by_xpath('//div[@class="dropdown"][2]//button').click()

In [249]:
#searching for the xpath for India in economy.
driver.find_element_by_xpath('//div[@class="dropdown-content"]/a[3]').click()

In [250]:
# searching on to the page of GDp of Indian States.
driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li/a").click()

In [251]:
# Creating empty list for loading scraped data.

gdp={}
gdp['Rank']=[]
gdp['State']=[]
gdp['GSDP(19-20)']=[]
gdp['GSDP(18-19)']=[]
gdp['Share']=[]
gdp['GDP($billion)']=[]

for i in range(1,34):
    
#extracting Rank

    try:
        gdp['Rank'].append(driver.find_element_by_xpath("//table[@id='table_id']//tr[{}]/td[1]".format(i)).text)
    except NoSuchElementException:
        gdp['Rank'].append('--')
        
#extracting State

    try:
        gdp['State'].append(driver.find_element_by_xpath("//table[@id='table_id']//tr[{}]/td[2]".format(i)).text)
    except NoSuchElementException:
        gdp['State'].append('--')
        
#extracting GSDP(19-20)

    try:
        gdp['GSDP(19-20)'].append(driver.find_element_by_xpath("//table[@id='table_id']//tr[{}]/td[3]".format(i)).text)
    except NoSuchElementException:
        gdp['GSDP(19-20)'].append('--')
        
#extracting GSDP(18-19)

    try:
        gdp['GSDP(18-19)'].append(driver.find_element_by_xpath("//table[@id='table_id']//tr[{}]/td[4]".format(i)).text)
    except NoSuchElementException:
        gdp['GSDP(18-19)'].append('--')
        
#extracting Share

    try:
        gdp['Share'].append(driver.find_element_by_xpath("//table[@id='table_id']//tr[{}]/td[5]".format(i)).text)
    except NoSuchElementException:
        gdp['Share'].append('--')
        
#extracting GDP($billion)

    try:
        gdp['GDP($billion)'].append(driver.find_element_by_xpath("//table[@id='table_id']//tr[{}]/td[6]".format(i)).text)
    except NoSuchElementException:
        gdp['GDP($billion)'].append('--')

In [252]:
GDP=pd.DataFrame.from_dict(gdp)
GDP

,Rank,State,GSDP(19-20),GSDP(18-19),Share,GDP($billion)
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
3,4,Gujarat,-,"1,502,899",7.92%,227.276
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"521,275","487,805",2.57%,73.768
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,"80,449","73,170",0.39%,11.065
23,24,Tripura,"55,984","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"38,253","34,433",0.18%,5.207
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,"31,790","27,870",0.15%,4.215
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,"26,503","22,287",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

In [253]:
driver.close()

# Q5. Scrape the details of trending repositories on Github.com.

In [263]:
#Connecting to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [264]:
# webpage opening
driver.get("https://github.com/")
driver.maximize_window()            #maximizing webpage

In [265]:
# clicking on explore menu and then clicking on trending option.
driver.find_element_by_xpath('//li[@class="d-block d-lg-flex flex-lg-nowrap flex-lg-items-center border-bottom border-lg-bottom-0 mr-0 mr-lg-3 edge-item-fix position-relative flex-wrap flex-justify-between d-flex flex-items-center "][2]//summary').click()
driver.find_element_by_xpath('//ul[@class="list-style-none mb-3"]//li[3]/a').click()

In [266]:
# Creating empty list for loading scraped data.

git={}
git['title']=[]
git['description']=[]
git['language']=[]

# extracting  Repository title

try:
    for i in driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]'):
        git['title'].append(i.text)
except NoSuchElementException:
    git['title'].append('--')

In [267]:
u=[]
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a"):
    u.append(i.get_attribute('href'))
u

['https://github.com/getzola/zola',
 'https://github.com/dolthub/dolt',
 'https://github.com/nushell/nushell',
 'https://github.com/torvalds/linux',
 'https://github.com/openai/CLIP',
 'https://github.com/coolsnowwolf/lede',
 'https://github.com/jhu-ep-coursera/fullstack-course4',
 'https://github.com/sherlock-project/sherlock',
 'https://github.com/git/git',
 'https://github.com/projectdiscovery/nuclei-templates',
 'https://github.com/dwisiswant0/apkleaks',
 'https://github.com/SmartThingsCommunity/SmartThingsPublic',
 'https://github.com/microsoft/CSS-Exchange',
 'https://github.com/nodegui/svelte-nodegui',
 'https://github.com/thunlp/GNNPapers',
 'https://github.com/TheAlgorithms/Javascript',
 'https://github.com/flutter/flutter',
 'https://github.com/qmk/qmk_firmware',
 'https://github.com/enaqx/awesome-react',
 'https://github.com/microsoft/vscode',
 'https://github.com/Anuken/Mindustry',
 'https://github.com/visenger/awesome-mlops',
 'https://github.com/brillout/awesome-react-components',
 'https://github.com/ninechapter-algorithm/linghu-algorithm-templete',
 'https://github.com/ethereum/EIPs']

In [268]:
# extracting Repository Description

for i in u:
    driver.get(i)
    try:
        git['description'].append(driver.find_element_by_xpath('//p[@class="f4 mt-3"]').text)
    except NoSuchElementException:
        git['description'].append('--')

# extracting Language Used

for i in u:
    driver.get(i)
    try:
        git['language'].append(driver.find_element_by_xpath('//li[@class="d-inline"]//a/span').text)
    except NoSuchElementException:
        git['language'].append('--')

In [269]:
githubs=pd.DataFrame.from_dict(git)
githubs

,title,description,language
0,getzola / zola,A fast static site generator in a single binar...,Rust
1,dolthub / dolt,Dolt – It's Git for Data,Go
2,nushell / nushell,A new type of shell,Rust
3,torvalds / linux,Linux kernel source tree,C
4,openai / CLIP,Contrastive Language-Image Pretraining,Jupyter Notebook
5,coolsnowwolf / lede,Lean's OpenWrt source,C
6,jhu-ep-coursera / fullstack-course4,"Example code for HTML, CSS, and Javascript for...",JavaScript
7,sherlock-project / sherlock,🔎 Hunt down social media accounts by username ...,Python
8,git / git,Git Source Code Mirror - This is a publish-onl...,C
9,projectdiscovery / nuclei-templates,Community curated list of templates for the nu...,Python
10,dwisiswant0 / apkleaks,"Scanning APK file for URIs, endpoints & secrets.",Python
11,SmartThingsCommunity / SmartThingsPublic,SmartThings open-source DeviceTypeHandlers and...,Groovy
12,microsoft / CSS-Exchange,Exchange Server support tools and scripts,PowerShell
13,nodegui / svelte-nodegui,"Build performant, native and cross-platform de...",TypeScript
14,thunlp / GNNPapers,Must-read papers on graph neural networks (GNN),--
15,TheAlgorithms / Javascript,A repository for All algorithms implemented in...,JavaScript
16,flutter / flutter,Flutter makes it easy and fast to build beauti...,Dart
17,qmk / qmk_firmware,Open-source keyboard firmware for Atmel AVR an...,C
18,enaqx / awesome-react,A collection of awesome things regarding React...,--
19,microsoft / vscode,Visual Studio Code,TypeScript
20,Anuken / Mindustry,A sandbox tower defense game,Java
21,visenger / awesome-mlops,A curated list of references for MLOps,--
22,brillout / awesome-react-components,Curated List of React Components & Libraries.,--
23,ninechapter-algorithm / linghu-algorithm-templete,--,--
24,ethereum / EIPs,The Ethereum Improvement Proposal repository,Solidity

In [270]:
driver.close()

# Q6. Scrape the details of top 100 songs on billboard.com.

In [3]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [4]:
# opening desired webpage.
driver.get('https://www.billboard.com/')
driver.maximize_window()          #maximizing the webpage

In [6]:
# Scraping the code for Clicking on charts from homepage.
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/header/div/ul/li[1]/a').click()

In [7]:
# Scraping code for The Hot 100 page.
driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div[1]/a/div[2]/div[1]').click()

In [17]:
# Creating empty list for required data from the webpage.

bill={}
bill['SongName']=[]
bill['ArtistName']=[]
bill['Lastweek']=[]
bill['Peak']=[]
bill['Wksonchart']=[]

# extracting Song Name by xpath

try:
    for i in driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]'):
            bill['SongName'].append(i.text)
except NoSuchElementExceptions:
    bill['SongName'].append('--')
        
# extracting Artist Name by xpath

try:
    for i in driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]'):
        bill['ArtistName'].append(i.text)
except NoSuchElementExceptions:
    bill['ArtistName'].append('--')
    
# extracting Last Week Rank by xpath

try:
    for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]'):
        bill['Lastweek'].append(i.text)
except NoSuchElementExceptions:
    bill['Lastweek'].append('--')
    
# extracting Peak Rank by xpath

try:
    for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]'):
        bill['Peak'].append(i.text)
except NoSuchElementExceptions:
    bill['Peak'].append('--')
    
# extracting Wks on Chart by xpath

try:
    for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]'):
        bill['Wksonchart'].append(i.text)
except NoSuchElementExceptions:
    bill['Wksonchart'].append('--')

In [20]:
billboard=pd.DataFrame.from_dict(bill)
billboard

,SongName,ArtistName,Lastweek,Peak,Wksonchart
0,Drivers License,Olivia Rodrigo,1,1,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,2,17
4,Blinding Lights,The Weeknd,4,1,64
...,...,...,...,...,...
95,The Business,Tiesto,-,96,1
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,1
97,Monster,Shawn Mendes & Justin Bieber,91,8,14
98,Track Star,Mooski,-,99,1
99,Like I Want You,Giveon,95,95,2

In [21]:
driver.close()

# Q7. Scrape the details of Data science recruiters from naukri.com.

In [150]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [151]:
# Opening Desired Webpage
driver.get('https://www.naukri.com/')
driver.maximize_window()        #maximizing the webpage

In [152]:
# clicking on the recruiters option from the search panel.
driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a/div').click()

In [153]:
# specifying the url to be scraped
url='https://www.naukri.com/hr-recruiters-consultants'

In [154]:
driver.get(url)

In [155]:
# Entering Data Scientist in Skills,Designations,companies field.
url=driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input').send_keys('Data Science')

In [156]:
# clicking the search button
search_button=driver.find_element_by_xpath('//*[@id="qsbFormBtn"]').click()

In [157]:
# Creating empty lists for the scraped details from the webpage.

naukri={}
naukri['Name']=[]
naukri['Desgination']=[]
naukri['Company']=[]
naukri['Skills']=[]

# extracting name of recruiters from webpage by xpath

try:
    for i in driver.find_elements_by_xpath('//span[@class="fl ellipsis"]'):
        naukri['Name'].append(i.text)
except NoSuchElementExceptions:
    naukri['Name'].append('--')
    
# extracting Desgination of person from webapge by xpath

try:
    for i in driver.find_elements_by_xpath('//span[@class="ellipsis clr"]'):
        naukri['Desgination'].append(i.text)
except NoSuchElementExceptions:
    naukri['Desgination'].append('--')
    
# extracting Company name from webpage by xpath

try:
    for i in driver.find_elements_by_xpath('//p[@class="highlightable"]//a[2]'):
        naukri['Company'].append(i.text)
except NoSuchElementExceptions:
    naukri['Company'].append('--')
    
    
# extracting Skills they hire for from webpape by xpath

try:
    for i in driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]'):
        naukri['Skills'].append(i.text)
except NoSuchElementExceptions:
    naukri['Skills'].append('--')

In [158]:
url=[]
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p//a[1]"):
    url.append(i.get_attribute('href'))
url

['https://www.naukri.com/recruiters/aakashharit-1986742?xid=161504075625380700&xp=1',
 'https://www.naukri.com/recruiters/shravankumargaddam-353487?xid=161504075625380700&xp=2',
 'https://www.naukri.com/recruiters/Xenonstack?xid=161504075625380700&xp=3',
 'https://www.naukri.com/recruiters/anikagrawal-3647208?xid=161504075625380700&xp=4',
 'https://www.naukri.com/recruiters/marsiantech?xid=161504075625380700&xp=5',
 'https://www.naukri.com/recruiters/LXP-DATASCIENCE?xid=161504075625380700&xp=6',
 'https://www.naukri.com/recruiters/jitendrasingh-managertalentacquisition-delhi?xid=161504075625380700&xp=7',
 'https://www.naukri.com/recruiters/abhishekyadav-3450244?xid=161504075625380700&xp=8',
 'https://www.naukri.com/recruiters/menakav-3213816?xid=161504075625380700&xp=9',
 'https://www.naukri.com/recruiters/techvantage?xid=161504075625380700&xp=10',
 'https://www.naukri.com/recruiters/asiflucknowi-4331110?xid=161504075625380700&xp=11',
 'https://www.naukri.com/recruiters/instafinancials-humanresource?xid=161504075625380700&xp=12',
 'https://www.naukri.com/recruiters/kalpana-2078894?xid=161504075625380700&xp=13',
 'https://www.naukri.com/recruiters/mubarak-2905498?xid=161504075625380700&xp=14',
 'https://www.naukri.com/recruiters/quantmagnum?xid=161504075625380700&xp=15',
 'https://www.naukri.com/recruiters/manishayadav-4463916?xid=161504075625380700&xp=16',
 'https://www.naukri.com/recruiters/kapildevang-3169734?xid=161504075625380700&xp=17',
 'https://www.naukri.com/recruiters/riyarajesh-4375878?xid=161504075625380700&xp=18',
 'https://www.naukri.com/recruiters/maheshbabuchanna-1803238?xid=161504075625380700&xp=19',
 'https://www.naukri.com/recruiters/rashmibhattacharjee-3921774?xid=161504075625380700&xp=20',
 'https://www.naukri.com/recruiters/faizankareem-3685102?xid=161504075625380700&xp=21',
 'https://www.naukri.com/recruiters/rithikadadwal-3517898?xid=161504075625380700&xp=22',
 'https://www.naukri.com/recruiters/azaharshaikh-companyrecruiter?xid=161504075625380700&xp=23',
 'https://www.naukri.com/recruiters/ankitshah-21129?xid=161504075625380700&xp=24',
 'https://www.naukri.com/recruiters/shaunrao-3020604?xid=161504075625380700&xp=25',
 'https://www.naukri.com/recruiters/dhruvdevdubey?xid=161504075625380700&xp=26',
 'https://www.naukri.com/recruiters/manas-3159036?xid=161504075625380700&xp=27',
 'https://www.naukri.com/recruiters/kumar-3378892?xid=161504075625380700&xp=28',
 'https://www.naukri.com/recruiters/sunilvedula-3392046?xid=161504075625380700&xp=29',
 'https://www.naukri.com/recruiters/rajatkumar-3295096?xid=161504075625380700&xp=30',
 'https://www.naukri.com/recruiters/jayanthn-3081850?xid=161504075625380700&xp=31',
 'https://www.naukri.com/recruiters/prateekkumar-4410750?xid=161504075625380700&xp=32',
 'https://www.naukri.com/recruiters/amitsharma-4238940?xid=161504075625380700&xp=33',
 'https://www.naukri.com/recruiters/deepali002g?xid=161504075625380700&xp=34',
 'https://www.naukri.com/recruiters/shashikantchaudhary-4164854?xid=161504075625380700&xp=35',
 'https://www.naukri.com/recruiters/brad-4068508?xid=161504075625380700&xp=36',
 'https://www.naukri.com/recruiters/rutujapawar?xid=161504075625380700&xp=37',
 'https://www.naukri.com/recruiters/madhusudhansridhar-2705338?xid=161504075625380700&xp=38',
 'https://www.naukri.com/recruiters/ankitsinha-3398798?xid=161504075625380700&xp=39',
 'https://www.naukri.com/recruiters/gauravchouhan?xid=161504075625380700&xp=40',
 'https://www.naukri.com/recruiters/impel?xid=161504075625380700&xp=41',
 'https://www.naukri.com/recruiters/ashwini-3434922?xid=161504075625380700&xp=42',
 'https://www.naukri.com/recruiters/balajikolli-2870676?xid=161504075625380700&xp=43',
 'https://www.naukri.com/recruiters/rajaninagaraj-3387578?xid=161504075625380700&xp=44',
 'https://www.naukri.com/recruiters/rohitkumar-3277680?xid=161504075625380700&xp=45',
 'https://www.naukri.com/recruiters/amirchowdhury-2925314?xid=161504075625380700&xp=46',
 'https://www.naukri.com/recruiters/sreedhar-3824102?xid=161504075625380700&xp=47',
 'https://www.naukri.com/recruiters/shailjamishra-hrmanager-noida?xid=161504075625380700&xp=48',
 'https://www.naukri.com/recruiters/sunnysharma-mumbai?xid=161504075625380700&xp=49',
 'https://www.naukri.com/recruiters/lamasagar?xid=161504075625380700&xp=50']

In [159]:
# extracting location
naukri['Location']=[]
for i in url:
    driver.get(i)
    try:
        naukri['Location'].append(driver.find_element_by_xpath('//div[@class="rFrame fl infoWrapper"]//div[5]/a').text)
    except NoSuchElemetnException:
        naukri['Location'].append("--")

In [160]:
Datascientist=pd.DataFrame.from_dict(naukri)
Datascientist

,Name,Desgination,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
32,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
33,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
38,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
41,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
42,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
43,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
44,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
45,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
46,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
48,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore

In [161]:
driver.close()

# Q8. Scrape the details of Highest selling novels.

In [101]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [102]:
#Opening desried webpage
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
driver.maximize_window()

In [107]:
book={}
book['Book Name']=[]
book['Author']=[]
book['Volumes Sold']=[]
book['Publisher']=[]
book['Genre']=[]

# extracting book name

for i in range(0,100):
    try:
        book['Book Name'].append(driver.find_element_by_xpath('//td[@id="table-cell-10943-{}-1"]'.format(i)).text)
    except NoSuchElementException:
        book['Book Name'].append['--']
        
# extracting author name

    try:
        book['Author'].append(driver.find_element_by_xpath('//td[@id="table-cell-10943-{}-2"]'.format(i)).text)
    except NoSuchElementException:
        book['Author'].append['--']
        
# extracting Volumes sold

    try:
        book['Volumes Sold'].append(driver.find_element_by_xpath('//td[@id="table-cell-10943-{}-3"]'.format(i)).text)
    except NoSuchElementException:
        book['Volumes Sold'].append['--']
        
# extracting Publisher

    try:
        book['Publisher'].append(driver.find_element_by_xpath('//td[@id="table-cell-10943-{}-4"]'.format(i)).text)
    except NoSuchElementException:
        book['Publisher'].append['--']
        
# extracting Genre

    try:
        book['Genre'].append(driver.find_element_by_xpath('//td[@id="table-cell-10943-{}-5"]'.format(i)).text)
    except NoSuchElementException:
        book['Genre'].append['--']

In [108]:
novel=pd.DataFrame.from_dict(book)
novel

,Book Name,Author,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [109]:
driver.close()

# Q9. Scrape the details most watched tv series of all time from imdb.com.

In [111]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [113]:
#Opening desried webpage
driver.get('https://www.imdb.com/list/ls095964455/')
driver.maximize_window()

In [114]:
tv={}
tv['Name']=[]
tv['Year span']=[]
tv['Genre']=[]
tv['Runtime']=[]
tv['Ratings']=[]
tv['Votes']=[]

# extracting Name

try:
    for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
        tv['Name'].append(i.text)
except NoSuchElementExceptions:
    tv['Name'].append('--')
    
# extracting Year span

try:
    for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]"):
        tv['Year span'].append(i.text)
except NoSuchElementExceptions:
    tv['Year span'].append('--')
    
# extracting Genre

try:
    for i in driver.find_elements_by_xpath("//span[@class='genre']"):
        tv['Genre'].append(i.text)
except NoSuchElementExceptions:
    tv['Genre'].append('--')
    
# extracting Runtime

try:
    for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
        tv['Runtime'].append(i.text)
except NoSuchElementExceptions:
    tv['Runtime'].append('--')
    
# extracting Ratings

try:
    for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):
        tv['Ratings'].append(i.text)
except NoSuchElementExceptions:
    tv['Ratings'].append('--')
    
# extracting Votes

try:
    for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small'][3]/span[2]"):
        tv['Votes'].append(i.text)
except NoSuchElementExceptions:
    tv['Votes'].append('--')

In [115]:
shows=pd.DataFrame.from_dict(tv)
shows

,Name,Year span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,778,573"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"829,128"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"856,933"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,243"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,796"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,769"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,101"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,290"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,207"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"183,941"

In [116]:
driver.close()

# Q10. Scrape details of Datasets from UCI machine learning repositories.

In [186]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [187]:
driver.get('https://archive.ics.uci.edu/ml/index.php')
driver.maximize_window()

In [188]:
# Clicking on the view all data sets.
driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a').click()

In [189]:
#Creating empty lists for the information of UCI Datasets.
dataset={}
dataset['name']=[]
dataset['datatype']=[]
dataset['task']=[]
dataset['attributetype']=[]
dataset['no of instances']=[]
dataset['no of attributes']=[]
dataset['year']=[]

# extracting dataset name

try:
    for i in driver.find_elements_by_xpath("//p[@class='normal']//b/a"):
        dataset['name'].append(i.text)
except NoSuchElementException:
    dataset['Name'].append('--')

for i in range (2,587):
    
# extracting data type

    try:
        dataset['datatype'].append(driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[2]/p'.format(i)).text)
    except NoSuchElementException:
        dataset['datatype'].append('--')
        
#extracting task

    try:
        dataset['task'].append(driver.find_element_by_xpath('//table[@border="1"]//tr[{}]//td[3]'.format(i)).text)
    except NoSuchElementException:
        dataset['task'].append('--')
        
#extracting attribute types

    try:
        dataset['attributetype'].append(driver.find_element_by_xpath('//table[@border="1"]//tr[{}]//td[4]'.format(i)).text)
    except NoSuchElementException:
        dataset['attributetype'].append('--')
        
#extracting Number of instances

    try:
        dataset['no of instances'].append(driver.find_element_by_xpath('//table[@border="1"]//tr[{}]//td[5]'.format(i)).text)
    except NoSuchElementException:
        dataset['no of instances'].append('--')
        
#extracting Number of attributes

    try:
        dataset['no of attributes'].append(driver.find_element_by_xpath('//table[@border="1"]//tr[{}]//td[6]'.format(i)).text)
    except NoSuchElementException:
        dataset['no of attributes'].append('--')
        
#extracting Year

    try:
        dataset['year'].append(driver.find_element_by_xpath('//table[@border="1"]//tr[{}]//td[7]'.format(i)).text)
    except NoSuchElementException:
        dataset['year'].append('--')

In [190]:
datasets=pd.DataFrame.from_dict(dataset)
datasets

,name,datatype,task,attributetype,no of instances,no of attributes,year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,,26737,4,2020
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020

In [191]:
driver.close()